
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #D9E4F5; /* Light Blue */
}

.App {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  position: relative; /* Needed for absolute positioning of images */
}

.confidence-intervals {
  font-size: 1.1em;
  color: #003DA5;
  margin: 20px 0; /* Add margin for spacing */
}

/* Ensure all paragraphs have consistent spacing */
p {
  font-size: 1.2em;
  color: #4B4B4B;
  margin: 10px 0; /* Add margin for spacing */
}

/* Centering the MonthSelector and LineGraph */
.month-selector-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  margin-bottom: 30px; /* Space between MonthSelector and LineGraph */
}

/* Adjusted Line Graph Container */
.line-graph-container {
  display: flex;
  justify-content: center; /* Center the graph */
  width: 100%;           /* Full width of the parent */
  height: 500px;        /* Increased height */
  max-width: 1000px;    /* Set a larger max width */
  margin: 0 auto;       /* Center the graph horizontally */
  position: relative;    /* Needed for positioning child elements */
}

/* Images for Subway Surfer railtracks */
.subway-image {
  position: absolute; /* Position them absolutely */
  top: 0;            /* Align to the top of the container */
  width: 120px;      /* Set width for images */
  height: auto;      /* Maintain aspect ratio */
}

.left-image {
  left: -150px; /* Position the left image off the left */
}

.right-image {
  right: -150px; /* Position the right image off the right */
}
