/* .month-selector {
    margin-top: 20px;
  }
  
  .month-selector label {
    font-size: 1.2em;
  }
  
  .month-selector select {
    padding: 5px;
    font-size: 1em;
  } */

  .month-selector {
    margin: 20px 0;
  }
  
  .month-selector label {
    margin-right: 10px;
  }
  